repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  -   id: check-yaml
  -   id: end-of-file-fixer
  -   id: trailing-whitespace
  -   id: check-added-large-files
  -   id: check-merge-conflict

- repo: https://github.com/hadolint/hadolint
  rev: v2.14.0
  hooks:
  -   id: hadolint-docker

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
  -   id: ruff
  -   id: ruff-format
